{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Connexion au site</h1>
        <form method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="_username" placeholder="Saisissez votre email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="_password" placeholder="Saisissez votre mot de passe">
            </div>
            <button class="btn btn-success">Connexion</button>
        </form>

    </div>
    {# {{ form_start(form) }}
        
            {{ form_widget(form) }}
        
            <button class="btn btn-success">Je commente</button>
        
            {{ form_end(form) }} #}


{% endblock %}
