{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <h1>Inscription au site</h1>
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button class="btn btn-success">Je m'inscris</button>
    {{ form_end(registerForm) }}
{% endblock %}
